@import "../defaults/color";
@import "../defaults/breakpoints";

/* Add a beige/sand background color to the footer */
footer{
    background-color: $base-color;
    text-align: center;
    font-family: 'Secular One', sans-serif;
    /* Change font size of footer text */
    font-size: 1rem;
    /* Add padding to footer to give space from other elements */
    padding-top: 10px;

    /* Space the social media icons and give margin from bottom screen */
    .social-media{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: 10px;
        // Change size of icons
        font-size: 22px;
    }

    /* Reduce space between paragraphs */
    p{
        margin: 5px 0px;
    }

    /* Change color of text in footer */
    .copyright{
        color: $fourth-color
    }

    .info2{
        color: $third-color
    }

    /* Change color of icons */
    i{
        color: black;
    }
}

/* When the screen width is wider than 768 pixels, change the properties 
 contained within the footer */
@media screen and (min-width: $tablet){
    
    /* Center social media icons when below 768px */
    footer{
        font-size: 1rem;

        .social-media{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            // Change size of icons
            font-size: 26px;
        }
    }
}

/* Center social media icons and space them under text of footer when above 480px wide */
@media screen and (min-width: $mobile){
    footer{

        .social-media{
            width: 55%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* Change font size of footer
When screen is smaller than 768px */
@media screen and (max-width: $tablet){
    footer{
        font-size: 1rem;
    }
}

