@import "../defaults/color";
@import "../defaults/breakpoints";

$primaryfontsize: 2.75rem;
$secondaryfontsize: 2rem;

/* Add a beige/sand background color to the topnav*/
header{
    background-color: $base-color;
    font-family: 'Bebas Neue', cursive; 
    padding: 15px;

    .topnav{
        
        // Change font size of name "Jeevan Ng"
        .active{
            font-size: $primaryfontsize;
        }

        // Change font size of other links 
        .fourlinks{
            font-size: $secondaryfontsize;
        }
    }
}

.topnav{
    overflow: hidden;
    margin-bottom: 24px;

    /* Style the hyperlinks inside the navigation bar */ 
    a{
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 5px 16px;
        text-decoration: none;
        // Change font size of nav bar text
        // font-size: 24px;
        
        /* Style the hyperlinks on hover */
        &:hover{
            background-color: $secondary-color;
            color: $base-color;
        }
    }

    // Hide the link that should open and close the topnav on small screens 
    .icon{
        display: none;
        /* Change size of hamburger icon */
        font-size: $primaryfontsize;
    }
}

/* When the screen is less than 768 pixels wide, hide all links, except for the 
 first one ("Jeevan Ng"). Show the link that contains should open and close 
 the topnav (.icon)*/
@media screen and (max-width: $tablet){
    .topnav{
    
        a{
            &:not(.active){
                display: none;
            }
        }

        a.icon{
            float: right;
            display: block;
            font-size: 2rem;
        }
    }
}



/* The responsive class is added to the topnav with Javascript when the
 user clicks on the icon. This class makes the topnav look good on small 
 screens (display the links vertically instead of horizontally)*/
.topnav.responsive{
    position: relative;

    .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    
    a{
        float: none;
        display: block;
        text-align: left;
    }

    // Center all links except home ("Jeevan Ng") in hamburger drop down button
    .otherLinks{
        text-align: center;
    }
}

/* When width is above 768px, move the links to the right excluding "Jeevan Ng" (Home Page)*/
@media screen and (min-width: $tablet){
    header{

        .topnav{
        
            // Change font size of name "Jeevan Ng"
            .active{
            font-size: 3rem;
            }

            // Change font size of other links
            .fourlinks{
            display: flex;
            justify-content: flex-end;
            font-size: 2rem;
            }

            // Hide the nav bar links on home page only 
            #fourlinks_home{
                display: none;
            }
        }
    }
}

/* When the screen width is smaller than 480px change size of burger icon */
@media screen and (max-width: $mobile){
    .topnav{

        a.icon{
            font-size: 1.5rem;
        }
    }
}

/* Remove burger icon when width is smaller than 280px */
@media screen and (max-width: 280px){
    .topnav{

        a.icon{
            display: none;
        }
    }
}

